- name: check cursor installation
  stat:
    path: "~/.local/bin/agent"
  register: cursor

- name: install cursor
  shell: curl https://cursor.com/install -fsS | bash
  args:
    executable: /bin/bash
  when: not cursor.stat.exists

- name: install cursor extensions
  cursor_extension:
    name: "{{ item }}"
  loop:
    - asvetliakov.vscode-neovim
    - bradlc.vscode-tailwindcss
    - bufbuild.vscode-buf
    - docker.docker
    - esbenp.prettier-vscode
    - golang.go
    - hashicorp.terraform
    - oxc.oxc-vscode
    - redhat.vscode-yaml
    - unifiedjs.vscode-mdx
    - vue.volar
