- name: configure NSGlobalDomain
  osx_defaults:
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - key: InitialKeyRepeat
      type: float
      value: 25
    - key: KeyRepeat
      type: float
      value: 2

- name: configure com.apple.dock
  osx_defaults:
    domain: com.apple.dock
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - key: autohide
      type: bool
      value: true
    - key: mru-spaces
      type: bool
      value: false
    - key: recent-apps
      type: array
      value: []
    - key: show-recents
      type: bool
      value: false

- name: configure com.apple.finder
  osx_defaults:
    domain: com.apple.finder
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - key: FXDefaultSearchScope
      type: string
      value: SCcf
    - key: FXPreferredViewStyle
      type: string
      value: Nlsv
    - key: FinderSpawnTab
      type: bool
      value: false
    - key: QuitMenuItem
      type: bool
      value: true
    - key: _FXSortFoldersFirst
      type: bool
      value: true

- name: configure com.apple.desktopservices
  osx_defaults:
    domain: com.apple.dock
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  loop:
    - key: DSDontWriteNetworkStores
      type: bool
      value: true
    - key: DSDontWriteUSBStores
      type: bool
      value: true
